html,
body {
    font-family: 'Quicksand', sans-serif;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    background-color:#222233;
}
.inline-icon {
    vertical-align: bottom;
    font-size: 17px !important;
    padding-left: 1rem;
}
.background{
    position: relative;
    top:-200px;
}
#particle-div{
    background-color:#222233;
    width: 100%;
    margin-bottom: 0;
    
}

#greeting-parent{
    position: relative;
    top: 10rem;
}

#greeting{
    position: relative;
    left: 29.17%;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .9);
    color: #222233;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}

#greeting h3{
    font-weight: 500;
    margin-top: 1.25rem;
    font-size: 2rem;
}

#name-color{
    color:#107dac;
}

#view-work-btn{
    justify-items: center;
}

#custom-btn{
    background-color: rgba(0,0,0,.15);
    border: 3px solid #ffffff;
    padding-right: 1.1rem;
}

@keyframes btnHover {
    from {background-color: rgba(0,0,0,.15);}
    to {background-color: rgba(16,125,172,1);}
}

#custom-btn:hover{
    animation-name: btnHover;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
.nav{
    background-color: #0e1a40;
    align-items: middle;
}
#about-page{
    background-color: #ffffff;
}
#about-head{
    margin-top: 3rem;
    font-weight: 600;
}
#about-head h1{
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
}
#aboutme-img{
    border-radius: 2rem;
    margin-left: 15%;
}
#aboutme-desc{
    text-align: left;
    margin-left: 15%;
}

.sticky{
    position: fixed;
    top: 0px;
}

#github-stats{
    background-color: #0e1a40;
    color: #ffffff;
    border-radius: 5rem;
    padding-top: 3rem;
    margin-left: 6rem;
    align-items: top;
}
#github-stats h2{
    margin-top:0;
}

#data-container{
    width: 100%;
    height: 100%;
}
#data-legend{
    font-size: 1.75rem;
    vertical-align: top;
}

#portfolio-container{
    background-color: #f5f5f5;
    
}

#portfolio-head{
    padding-top: 3rem;
    margin-top: 3rem;
    font-weight: 600;
}
#portfolio-head h1{
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
#portfolio-content{
    margin-left: 3%;
    margin-right: 3%;
}

.card{
    background-color: #0e1a40;
    border-radius: .8rem;
}

@keyframes cardHover {
    from {background-color: rgba(14,26,64,1); color:rgb(8,146,249);}
    to {background-color: #595959;}
}

.card:hover{
    animation-name: cardHover;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

.card-image{
    border-radius: 0.8rem 0.8rem 0rem 0rem;
}

.page-footer{
    background-color: #0e1a40; 
    
}
/* --------------------- */

svg {
    width: 100%;
    height: 100%;
}
rect {
    fill: #107DAC;
}

text {
font-size: 12px;
fill: #ffffff;
}


path {
    stroke: gray;
}


line {
    stroke: gray;
}


.grid path {
    stroke-width: 0;
}


.grid .tick line {
    stroke: #9FAAAE;
    stroke-opacity: 0.3;
}


/* responsivity */
@media (max-width:600px){
    #greeting{
        left: 9%;
    }   
}


