html,
body {
    
    margin: 0;
    padding: 0;
}
.background{
    position: relative;
    top:-5rem;
}
#test-particle{
    background-color:#222233;
    height: fit-content;
    width: 100%;
}

#greeting{
    position: relative;
    top: 10rem;
    left: 29.17%;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .9);
    color: #222233;
    text-align: center;
    z-index: 1;
}

#greeting h3{
    margin-top: 1.25rem;
    font-size: 2rem;
}

#name-color{
    color:#107dac;
}
