.project-card{
    width: 100%;
}

.card{
    text-align: left;
}

.card-content{
    color: white;
    background-color: #343434;
}
.card-content a{
    color: #ED1C24;
}

.card-reveal{
    color: white;
    background-color: #343434 !important; 
}