footer{
    text-align: center;
    background-color: #343434 !important;
}
.pagefooter{
    padding-top: 20px;
    color: #fff;
    background-color: #343434 !important;
}

.footer-copyright{
    background-color: #242424 !important;
}