.customNavbar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: rgba(255,255,255,1);
    height: 76px;
    border-bottom: 1px solid #ED1C24;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    z-index: 5;
}

.dropdown-link{
    font: inherit !important;
    color: inherit !important;
}